.hero-center{
 position: relative;
    display: inline-block;


}
/* .hero-center::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #ff0000;
    overflow: hidden;
    border-right: 2px solid #ff0000;
    animation: animate 6s steps(12) infinite;
}
@keyframes animate{
    0%, 10%, 100%{
        width: 0;
    }
    70%, 90%{
        width: 100%;
    }
}    */
.hero-center::before,
.hero-center::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.hero-center::before {
    animation: glitch-anim-1 2.5s infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-2px, -2px);
}

.hero-center::after {
    animation: glitch-anim-2 2.5s infinite;
    clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
    transform: translate(2px, 2px);
}

@keyframes glitch-anim-1 {
    0%, 100% {
        clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    }
    20% {
        clip-path: polygon(0 15%, 100% 15%, 100% 60%, 0 60%);
    }
    40% {
        clip-path: polygon(0 30%, 100% 30%, 100% 75%, 0 75%);
    }
    60% {
        clip-path: polygon(0 0%, 100% 0%, 100% 45%, 0 45%);
    }
}

@keyframes glitch-anim-2 {
    0%, 100% {
        clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
    }
    20% {
        clip-path: polygon(0 40%, 100% 40%, 100% 85%, 0 85%);
    }
    40% {
        clip-path: polygon(0 25%, 100% 25%, 100% 70%, 0 70%);
    }
    60% {
        clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
    }
}