.demo-spinner{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px solid rgba(179, 255, 251, 0.311);
    border-top-color:rgb(255, 0, 217) ;
    border-left-color:rgb(0, 213, 255) ;
    animation: spin 1s linear infinite;

}
@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}

.demo-wave{
    font-size: 30px;
    font-weight: 1000;
}

.demo-wave span{
    background: linear-gradient(90deg, rgba(91, 255, 255, 0.795), rgba(226, 82, 255, 0.718));

    display: inline-block;
    animation: wave 1.5s ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.1s);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes wave{

    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}

.demo-gradiant-border{
    width: 180px;
            height: 120px;
            position: relative;
            padding: 4px;
    background: linear-gradient(45deg,
    rgb(0, 213, 255),
    rgb(255, 0, 217),
    #39ff14,
    #ff1744

    );
 background-size: 300% 300%;
            animation: gradientMove 3s ease infinite;
            border-radius: 7px;
        }

        @keyframes gradientMove {
            0%, 100% { background-position: 0% 50%; }
            50% { background-position: 100% 50%; }
        }

        .demo-gradiant-border-text {
            width: 100%;
            height: 100%;
            background:rgba(15, 23, 42, 0.8) ;
            border-radius: 7px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 900;
        }

